.ultima-torcia .window-content {
    border: none;
    border-bottom: 2px solid #4b4a44;
    background: transparent;
}

.ultima-torcia .sheet-tabs {
    flex: 0 0 32px;
    line-height: 32px;
    border-top: 2px solid #4b4a44;
    border-bottom: 2px solid #4b4a44;
    margin-bottom: 10px;
}

.ultima-torcia .sheet-tabs .item {
    padding: 0px 10px;
    border-right: 1px solid #c9c7b8;
    font-weight: bold;
}

.ultima-torcia .sheet-tabs .item:last-child {
    border-right: none;
}

.ultima-torcia .sheet-tabs .item.active {
    text-shadow: 0 0 10px #ff6400;
    border-bottom: 3px solid #ff6400;
}

.ultima-torcia .sheet-body {
    overflow: hidden;
}

.ultima-torcia .sheet-body .tab {
    height: 100%;
    overflow-y: auto;
}

.ultima-torcia .resource-label {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
}

.ultima-torcia .attributes {
    margin-top: 10px;
}

.ultima-torcia .attribute {
    margin-bottom: 5px;
    background: rgba(0, 0, 0, 0.05);
    padding: 5px;
    border-radius: 5px;
}

.ultima-torcia .grid-3col {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    margin-bottom: 5px;
}

.ultima-torcia .grid-4col {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

.ultima-torcia .items-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.ultima-torcia .items-list .item-header {
    font-weight: bold;
    background: rgba(0, 0, 0, 0.1);
    padding: 5px;
    border-bottom: 2px solid #4b4a44;
}

.ultima-torcia .items-list .item {
    padding: 5px;
    border-bottom: 1px solid #c9c7b8;
    align-items: center;
}

.ultima-torcia .items-list .item-image {
    flex: 0 0 24px;
    margin-right: 5px;
}

.ultima-torcia .items-list .item-name {
    flex: 1;
    margin: 0;
}

.ultima-torcia .items-list .item-controls {
    flex: 0 0 50px;
    text-align: right;
}